@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <h2>RCA</h2>
        <ul>
            Controle de Hotel / Pousada
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Controle de Hospedagem</h2>
        <ul>
            <li>Quartos Livre e Ocupados</li>
            <li>Check-in / Check-out</li>
            <li>Controle de Entretenimento</li>
            <li>Controle de Consumo</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Controle de Estoque</h2>
        <ul>
            <li>Reposição de Despensa</li>
            <li>Controle de Compra</li>
            <li>Controle de Gastos</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Contabilidade</h2>
        <ul>
            <li>Controle de Receita</li>
            <li>Relatório de Lucro</li>
        </ul>
    </div>
</div>
